/*common start*/
body{
  margin: 0;
  font-family:"playfair Display", serif;
  font-size: 16px;
  font-weight: 400;
  color:#626262 ;

}
/*common end*/
/*header start*/
header{
     padding:30px 0;
}
.container{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}
.logo{ 
    margin-top: 11px;
    float: left;
    width:12% ;
    
}
.logo a img{
    width: 100%;
}
.menu{
    float: right;
    width: 65%;
    

}
.menu ul{
    float: right;
    list-style: none; 
}
.menu ul li{ 
    float: left;
}
.menu ul li a{
    display:inline-block;
    margin: 0 30px ;
    color: #626262;
    text-decoration:none;
    text-transform: uppercase ;
    border-bottom: 1px solid transparent;
    transition: .33s linear ;
}
.menu ul li:last-child a{
    padding-right: 0%;
}
 .menu ul li a:hover{
    border-bottom:1px solid #626262;
 }
 /*header end*/
/*baanner start*/
.banner{}
.b_img{}
.b_img img{
    width: 100%;
}
/*baanner end*/
/*getaway start*/
.getaway{
    padding: 100px 0 30px;
}
.container2{
   width: 80%;
   margin: 0 auto;
}
.g_content{}
.light{
    font-family: ubuntu , sans-serif;
    font-weight: 300 ;
    font-size: 14px;
    text-transform: uppercase;
}
.title{
    font-weight: 400;
    font-size: 30px;
    margin: 15px 0 25px;
}
.text{
    margin: 0;
    line-height: 24px;
}
.g_link{
    margin-top: 40px;
    display: block;
    text-decoration: none;
    color: #626262;
}
/*getaway end*/
/*blog start*/ 
.blog{
    padding:0 0 100px ;
}
.bl_content{
    overflow: hidden;
}
.bl_item{
    margin-top: 70px;
    width: 47%;
    float: left;
    box-sizing:border-box;
}
.bl_item:nth-child(even){
    margin-left: 6%;
}
.bl_img{
    margin-bottom: 20px;
}
.bl_img img{
    width: 100%;
}
/*blog end*/
/*newsletter start*/
.newsletter{
    padding: 70px 0;
    background-color: #f0f0f0;
}
.signup{
    text-align: center;
}
.s_h1{
    color: #333333;
    margin-top: 0;
    margin-bottom: 70px;
}
.s_form{
    position: relative;
    width: 400px;
    margin: 0 auto;
}
.s_form input{
    font-family:"playfair Display", serif;
   font-size: 14px;
   color: #626262;
   width: 345px;
   height: 45px; 
   border:none;
   border-bottom:1px solid #333333;
   background: transparent;
   padding-left: 5px;
   padding-right: 45px;
}
.s_form input:focus{
    outline: 0;
}
.s_form button{
    position: absolute;
    background:transparent;
    border: none;
    cursor: pointer;
    top: 15px;
    right: 0;
}
.s_form button:focus{
    outline: 0;
}
.s_form button img{}
/*newsletter start*/
/*blog2 start*/
.blog2{}
.load{ 
    margin: 150px 0 50px;
    text-align: center;
}
.load button{ 
    width: 165px;
    height: 60px;
    background-color: white;
    border: 1px solid #626262;
    font-family: "playfair Display",sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    transition: .33s linear;
}
.load button:hover{
    background-color: #626262;
    color: white;
}
/*blog2 end*/
/*footer start*/
footer{
    background-color: #f0f0f0;
}
.container{}
.pages{
    margin-top: 11px;
    float: left;
    width:30% ;
}
.pages ul {
    float:left;
    list-style: none;
}
.pages ul li {
    float:left;
}
.pages ul li a{
    display:inline-block;
    color: #626262;
    text-decoration:none;
}
.social{
    float: right;
    width: 65%;
}
.social ul{
    float: right;
    list-style: none; 
}
.social ul li{  
    float: left;
    margin: 13px 0 0 20px;
}
.social ul li a{
    display:inline-block;
    color: #626262;
}
.social ul li a img {
    
}